.DS_Store
# os / editors
.DS_Store
*.swp
.idea/
.vscode/

# python
__pycache__/
venv310/
*.pyc
.venv/
env/
.venv*/

# jupyter
.ipynb_checkpoints/

# data & artifacts
models/
submissions/*.zip

# logs
logs/
